In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Datasets/safebooru_tags_links_2.csv")
df.head()

,Main_Category,Name,Link
0,general,sleepymausu,https://safebooru.org/index.php?page=post&s=li...
1,artist,hiro_(725611),https://safebooru.org/index.php?page=post&s=li...
2,general,ind_(121),https://safebooru.org/index.php?page=post&s=li...
3,artist,shouri_(harpy_killer),https://safebooru.org/index.php?page=post&s=li...
4,general,jun_(pokemon)_(cosplay),https://safebooru.org/index.php?page=post&s=li...

In [3]:
df["Name"].fillna("", inplace=True)

In [4]:
#location = 0
#max_amt = 0
#for i in df[1:]:
#    if

In [5]:
# check amount of _ in name and in parenthesis seperate

In [6]:
df["Name"][0].count("_")

0

In [7]:
x = df["Name"]#[df["Name"].str.contains("[(]", na=False)]#[9:10]

In [8]:
x

0                     sleepymausu
1                   hiro_(725611)
2                       ind_(121)
3           shouri_(harpy_killer)
4         jun_(pokemon)_(cosplay)
                   ...
658874                   obreasts
658875                    darcmon
658876                     phecda
658877                      wster
658878                  lotus_98t
Name: Name, Length: 658879, dtype: object

In [9]:
name = []
categories = []

#l = 0
for i in x:
    #print(i[i.index("()"):])
    #print(i)
    #print(l)
    if "_(" in i:
        cat = i[i.index("("):]
        name.append(i[:i.index("(") - 1].split("_"))
        if cat.count("(") >= 2:
            categories.append(cat.strip("()").split(")_("))
            
        else:
            #categories.append(cat.strip("()"))
            categories.append(cat.strip("()").split())
    else:
        name.append(i.split("_"))
        categories.append([None])
    #l += 1

In [10]:
#print(df["Link"][241120])

In [11]:
#n ="words"

In [12]:
#print(n[n.index("("):])

In [13]:
max_name_len = max([len(i) for i in name])
max_name_len

25

In [14]:
[i for i in name if len(i) == 25]

[['to',
  'aru',
  'onna',
  'senshi',
  'no',
  'shuudan',
  'mensetsu',
  '-',
  'onna',
  'senshi',
  'toshite',
  'orc',
  'ya',
  'hydra',
  'to',
  'tatakatta',
  'keiken',
  'wo',
  'onsha',
  'de',
  'ikaseru',
  'to',
  'omoi',
  'shibou',
  'itashimashita-']]

In [15]:
for i in name:
    if len(i) < max_name_len:
        i += ([None] * (max_name_len - len(i)))

In [16]:
#name[:1]

In [17]:
#max([len(i) for i in categories])

In [18]:
#[i for i in categories if len(i) == 112]

In [19]:
#categories.index("康泰系列)锚_符号黑色长裤黑色水手领子黑色裙子牛仔射击平顶帽头发之间_手_臀部帽子高，坎泰收集长发杂乱的头发领巾连裤袜褶皱？裙子紫色头发红色_领口水手_领口学校的制服丝巾简单的背景。裙子沾沾自喜站着星星背景推特_用户名紫眼睛")

In [20]:
#type(categories[9])

In [21]:
#max([len(i) for i in categories if type(i) == list])

In [22]:
max_cat_len = max([len(i) for i in categories])
max_cat_len

4

In [23]:
[i for i in categories if len(i) == 4]

[['swimsuit', 'second_acension', 'fate', 'cosplay'],
 ['avenger', 'third_ascension', 'fate', 'cosplay']]

In [24]:
for i in categories:
    if len(i) < max_cat_len:
        i += ([None] * (max_cat_len - len(i)))

In [25]:
name_1 = [i[0] for i in name]
name_2 = [i[1] for i in name]
name_3 = [i[2] for i in name]
name_4 = [i[3] for i in name]
name_5 = [i[4] for i in name]
name_6 = [i[5] for i in name]
name_7 = [i[6] for i in name]
name_8 = [i[7] for i in name]
name_9 = [i[8] for i in name]
name_10 = [i[9] for i in name]
name_11 = [i[10] for i in name]
name_12 = [i[11] for i in name]
name_13 = [i[12] for i in name]
name_14 = [i[13] for i in name]
name_15 = [i[14] for i in name]
name_16 = [i[15] for i in name]
name_17 = [i[16] for i in name]
name_18 = [i[17] for i in name]
name_19 = [i[18] for i in name]
name_20 = [i[19] for i in name]
name_21 = [i[20] for i in name]
name_22 = [i[21] for i in name]
name_23 = [i[22] for i in name]
name_24 = [i[23] for i in name]
name_25 = [i[24] for i in name]

In [26]:
category_1 = [i[0] for i in categories]
category_2 = [i[1] for i in categories]
category_3 = [i[2] for i in categories]
category_4 = [i[3] for i in categories]

In [27]:
main_cat = df["Main_Category"].to_list()
links = df["Link"].to_list()

In [28]:
data = {"Main_Category": main_cat, "Name_1": name_1, "Name_2": name_2, "Name_3": name_3, "Name_4": name_4, 
        "Name_5": name_5, "Name_6": name_6, "Name_7": name_7, "Name_8": name_8,
        "Name_9": name_9, "Name_10": name_10, "Name_11": name_11, "Name_12": name_12,
        "Name_13": name_13, "Name_14": name_14, "Name_15": name_15, "Name_16": name_16,
        "Name_17": name_17, "Name_18": name_18, "Name_19": name_19, "Name_20": name_20,
        "Name_21": name_21, "Name_22": name_22, "Name_23": name_23, "Name_24": name_24,
        "Category_1": category_1, "Category_2": category_2, 
        "Category_3": category_3, "Category_4": category_4,
        "Link": links}

In [29]:
df_tags = pd.DataFrame.from_dict(data)
df_tags.head()

,Main_Category,Name_1,Name_2,Name_3,Name_4,Name_5,Name_6,Name_7,Name_8,Name_9,...,Name_20,Name_21,Name_22,Name_23,Name_24,Category_1,Category_2,Category_3,Category_4,Link
0,general,sleepymausu,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,https://safebooru.org/index.php?page=post&s=li...
1,artist,hiro,None,None,None,None,None,None,None,None,...,None,None,None,None,None,725611,None,None,None,https://safebooru.org/index.php?page=post&s=li...
2,general,ind,None,None,None,None,None,None,None,None,...,None,None,None,None,None,121,None,None,None,https://safebooru.org/index.php?page=post&s=li...
3,artist,shouri,None,None,None,None,None,None,None,None,...,None,None,None,None,None,harpy_killer,None,None,None,https://safebooru.org/index.php?page=post&s=li...
4,general,jun,None,None,None,None,None,None,None,None,...,None,None,None,None,None,pokemon,cosplay,None,None,https://safebooru.org/index.php?page=post&s=li...

In [35]:
#import os
#import sys
#import boto3
#import pymysql
import mysql.connector
from important import ep, user, ps, port, region, db

In [43]:
safebooru_db = mysql.connector.connect(
    host=ep,
    user=user,
    password=ps
    #database=
)

print(safebooru_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026367491B70>

In [46]:
if safebooru_db.is_connected():
    cursor = safebooru_db.cursor()
    cursor.execute("DROP DATABASE IF EXISTS safebooru_info")
    cursor.execute("CREATE DATABASE safebooru_info")

In [50]:
try:
    cnx = mysql.connector.connect(host=ep, database="safebooru_info", user=user, password=ps)
    if cnx.is_connected():
        cursor = cnx.cursor()
        cursor.execute("SELECT database();")
        record = cursor.fetchone()
        print(f"You're connected to database: {record}")
        
        cursor.execute("DROP TABLE IF EXISTS safebooru_tags;")
        print("Creating Table")
        
        cursor.execute("Create TABLE safebooru_tags(Main_Category VARCHAR(16), Name_1 VARCHAR(16), Name_2 VARCHAR(16), Name_3 VARCHAR(16), Name_4 VARCHAR(16), Name_5 VARCHAR(16), Name_6 VARCHAR(16), Name_7 VARCHAR(16), Name_8 VARCHAR(16), Name_9 VARCHAR(16), Name_10 VARCHAR(16), Name_11 VARCHAR(16), Name_12 VARCHAR(16), Name_13 VARCHAR(16), Name_14 VARCHAR(16), Name_15 VARCHAR(16), Name_16 VARCHAR(16), Name_17 VARCHAR(16), Name_18 VARCHAR(16), Name_19 VARCHAR(16), Name_20 VARCHAR(16), Name_21 VARCHAR(16), Name_22 VARCHAR(16), Name_23 VARCHAR(16), Name_24 VARCHAR(16), Category_1 VARCHAR(16), Category_2 VARCHAR(16), Category_3 VARCHAR(16), Category_4 VARCHAR(16), Link VARCHAR(48));")
        print("Table is created...")
        
        for i, row in df_tags.iterrows():
            sql = "INSERT INTO safebooru_tags VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))
            cnx.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database: ('safebooru_info',)
Creating Table
Table is created...

NameError: name 'Error' is not defined